body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color:#038C8C;
	font-weight: normal;
}

img {
	max-width: 100%;
	overflow: hidden;
}

hr {
	height: 42px;
	width: 100%;
	background: transparent;
	border: none;
	background-image:url('images/marker.png');
	background-repeat: no-repeat;
	background-position: 50%;
}

textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top:10px;
	margin-bottom: 10px;
	resize:none;
	min-height: 180px;
}

input[type=text], input[type=email], input[type=password] {
	width: 100%;
	margin-top:10px;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.container {
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	min-width: 320px;
	padding:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	width:100%;
	background-color:#fff;
	height:100px;
	position: fixed;
	z-index:90000;
	top:0px;
	left:0px;
	border-bottom: 1px solid #ccc;
}

.logo {
	margin-left:33px;
}

.navigation {
	float:right;
}

.navigation li {
	list-style: none;
	float:left;
	border-right:1px groove #565656;
	font-size:19px;
	color:#565656;
	padding-left:15px;
	padding-right:15px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.navigation li:first-of-type {
	padding-left:0px;
}

.navigation li:last-of-type {
	border:none;
}

.navigation li a {
	color:#565656;
	text-decoration: none;
}

.mobile-menu {
	display: none;
}

.mobile-menu ul {
	display: none;
}

.content {
	margin-top:100px;
}

.banner {
	width:100%;
	height:538px;
	background-color:#00767e;
	background-image:url('images/slider-bg.png');
	background-size: cover;
}

.slider {
	width: 100%;
	height:538px;
	position: relative;
}

.slide-bank {
	position: relative;
	float:left;
	width: 100%;
	height:100%;
}

.slide {
	position: relative;
	width: 100%;
	height:100%;
}

.slide-image {
	margin-top:45px;
	margin-left: 65px;
}

.slide-content {
	position:absolute;
	top:0px;
	left:538px;
	max-width: 510px;
	min-width: 510px;
	height:358px;
	padding-top:180px;
}

.moniker {
	width:180px;
	color:#fff;
	margin-bottom: 30px;
}

.moniker p {
	font-size: 21px;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 25px;
}

.moniker img {
	float:left;
	padding-right:8px;
}

.slide-content h2 {
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-weight: lighter;
	color:#fff;
	text-transform: uppercase;
	font-size: 39px;
	margin: 0px;
	clear:both;
}

.slide-content p {
	color:#fff;
	font-size: 17px;
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	margin:0px;
}

.slide-content button {
	background: none;
	background-color: #54d3c3;
	border:none;
	width:171px;
	height:45px;
	color:#fff;
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-size: 21px;
	text-align: center;
	margin-top:28px;
}

.slider-nav {
	float:right;
	position: absolute;
	right:0px;
}

.box-item {
	float:left;
	width:119px;
	height:123px;
	background-color:#027e82;
	text-align: center;
	vertical-align: middle;
}

.box-item img {
	padding-top:30px;
}

.light {
	background-color:#048b8b;
}

.lightest {
	background-color:#079e98;
}

.center-content {
	float:left;
	text-align: center;
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.center-content h2 {
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	color:#828282;
	font-size:41px;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
}

.center-content p {
	font-size:15px;
	color:#9f9f9f;
	padding-left: 20px;
	padding-right: 20px;
}

.tablature-content {
	float:left;
	width: 100%;
	margin-top:40px;
}

.tablature-nav {
	float:left;
	width:100%;
}

.tablature-nav  .tab {
	width:16.6666666666666667%;
	height:166px;
	background-color:#01646c;
	float: left;
	text-align: center;
	position: relative;
}

.tablature-nav .tab img {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.tab-bank .tab.original {
	display: block;
	background-color:#01646c;
}

.tab.light {
	background-color:#097b84;
}

.tab.lighter {
	background-color:#118f99;
}

.tab.ultralight {
	background-color: #1da0aa;
}

.tab.lightest {
	background-color: #29b7c2;
}

.tab.megalight {
	background-color:#3ccad5;
}

.tab-bank {
	float: left;
	width:100%;
	background-color:#01646c;
	position: relative;
	height:400px;
}

.tab-bank .tab {
	width:100%;
	height:400px;
	display:none;
	color:#fff;
	position: absolute;
	left:0px;
	top:0px;
}

.tab-bank .tab * {
	padding-left:20px;
	padding-right:20px;
}

.tab.show {
	display: block;
}

.tab-bank .tab h1 {
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-size:41px;
	font-weight: normal;
	border-bottom:1px solid #fff;
	margin-bottom:0px;
	padding-bottom:10px;
	color: #fff;
}

.tab p {
	color: #fff !important;
}


.footer {
	float:left;
	height:100px;
	width:100%;
	background-color:#fff;
	text-align: center;
}

.footer p {
	font-family: "Segoe UI Light","Segoe WPC","Segoe UI",
	Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
	font-size:23px;
	color:#828282;
}

.footer .tab {
	text-align: left;
}

/* Page Styles */

.content-col {
	width: 75%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 30px;
}

.content-col h1:first-of-type {
	margin:0px;
}

.sidebar {
	width: 25%;
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 30px;
}

.sidebar h2:first-of-type {
	margin-top:0px;
}

.featured-image {
	width: 100%;
}

/* Blog Styles */

.blog-post {
	margin-top: 20px;
	margin-bottom:20px;
}

.blog-post:first-of-type {
	margin-top: 0px;
}

.meta {
	font-style: italic;
	margin-top: 0px;
}

.read-more {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
	background-color: #1da0aa;
	color: #fff;
}

/* Contact Styles */

.contact-us {
	font-size: 0;
}

.contact-us p {
	width:45%;
	display: inline-block;
	vertical-align: top;
}

.contact-us input[type=text], .contact-us input[type=email], .contact-us textarea {
	font-size: 16px;
}

.contact-us p:first-of-type {
	margin-right:10%;
}

.contact-us label {
	font-size: 12px;
	display: block;
	clear: both;
}

/* Responsive Styles */

@media (max-width: 680px) {

	.header {
		text-align: center;
		height:auto;
		padding-bottom:22px;
	}

	.logo {
		width:40%;
		float:left;
	}

	.navigation {
		display: none;
	}

	.tablature-nav .tab {
		min-height:80px;
		height:auto;
	}

	.tablature-nav .tab img {
		width:50%;
	}

	.mobile-menu {
		display: block;
		float:right;
	}

	.mobile-menu img {
		margin: auto;
		position: absolute;
		top: 0; bottom: 0; right: 22px;
	}

}

@media (max-width: 1024px) {
	.banner {
		height:661px;
	}

	.slider-nav {
		width:100%;
	}

	.slide-bank {
		margin-top:123px;
	}

	.box-item {
		width:33.3333%;
	}

	.slide {
		text-align: center;
	}

	.slide-image {
		margin:0px;
		margin-top:45px;
	}

	.slide-content {
		margin: auto;
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
	}

	.slide-content h2 {
		background-color:#000;
		opacity:.8;
		padding:10px;
		margin-bottom:30px;
	}

	.slide-content p {
		background-color: #fff;
		color: #000;
		opacity: .8;
		padding: 10px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.moniker {
		display: none;
	}

	.content-col {
		width: 100%;
		padding:0px;
	}

	.sidebar {
		width: 100%;
		padding:0px;
	}
}